
html, body {
  margin: 0;
  height: 100%;
  background-image: url('./images/ice-background.jpg');
}

.flexBoard {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: white;
}

td {
  border: 1px solid grey;
  width: 40px;
  height: 40px;
}

td:hover {
  background-color: orange;
}

.explode {
  background-color: red;
}

.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.flexTop {
  display: flex;
  flex-direction:row;
}

.flexCenter {
  display: flex;
  align-items:center;
}

.headerSpace {
  margin-right: 20px;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
}

.bombImgHeader {
  height: 70px;
  margin-right: 20px;
  cursor: pointer;
}

.bombImg {
  height: 35px;
  width: 35px;
}

.grassImg {
  height: 40px;
  width: 40px;
}

.noBorder {
  border: 1px solid #dbdbdb;
  padding: 0;
}

.noBorder:hover {
  background-color: white;
}

td {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}

select {
  margin-top: -15px;
  margin-bottom: 20px;
}






